*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(9,11,49);
}

header{
  position: absolute;
  width: 100%;
  border-bottom: 1px solid red;
  z-index: 999;
  padding: 0.9rem 0;
  top: 0;
  left: 0;
}

nav{
  margin: 0 auto;
  padding: 0 2rem;
}

nav ul{
  display: flex;
  justify-content: space-around;
}

nav ul li{
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main{
  position: relative;
  background-color: rgba(0, 128, 0, 0.648);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.bg-img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.five-cloud{
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.four-cloud{
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.three-cloud{
  position: absolute;
  top: 70%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.tow-cloud{
  position: absolute;
  top: 75%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.main-clouds{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.prallax{
  transition: transform 0.1s ease-out;
  will-change: transform;
}